body{
    background: linear-gradient(#9950ca,#c073f3) !important;
}
.navbar{
    background: linear-gradient(#812292,#b482bd);
}
#box{
    background: linear-gradient(#da82e5,#ea61fc);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
    border-radius: 30px !important;
    margin-bottom: 80px !important;
}
.logo {
    max-width: 40%;
}
.verify-email {
    color: #ffff;
    font-weight: bold;
    margin-left: 5px;
}